.contactsH {
  max-width: 727px;
  margin: 96px 0px 35px 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.625rem;
  line-height: 138%;
  letter-spacing: 0.2px;
}